<div class="form-row">
    <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" value="<%= photo.title %>">
    </div>
    <div class="form-item">
        <label>User</label>
        <select name="user">
        <% users.forEach(user => { %>
            <% if (user.id === photo.user) { %> 
                <option selected label="<%= user.name %>" value="<%= user.id %>"></option>
            <% } else { %> 
                <option selected label="<%= user.name %>" value="<%= user.id %>"></option>
            <% } %>
        <% }) %>
        </select>
    </div>
</div>
<div class="form-row"> 
    <div class="form-item">
        <label>Captured Date</label>
        <input type="date" name="publishDate" value="<%= photo.publishDate == null ? '' : photo.publishDate.toISOString().split('T')[0]%>">
    </div>
    <div class="form-item">
        <label>Geolocation</label>
        <input type="text" name="geolocation" value="<%= photo.geolocation %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Photo</label>
        <input type="file" name="cover" class="photo-cover filepond">
    </div>
    <div class="form-item">
        <label>Tags</label>
        <textarea name="description"><%= photo.description %></textarea>
    </div>
</div>

