<h2 class="page-header"><%= photo.title %> </h2>
<div class="photo-details">
    <div>
        <img class="photo-cover" src="<%= photo.coverImagePath %> ">
        <div class="photo-details-btn-grid">
            <a class="btn btn-primary" href="/photos/<%= photo.id %>/edit">Edit</a>
            <%- include('../partials/deleteForm', { url: `/photos/${photo.id}` }) %>
            <a class="btn btn-primary photo-details-user-button" href="/users/<%= photo.user.id %>">View User</a>
        </div>        
    </div>
    <div class="photo-details-grid">
        <div class="photo-details-label">Captured by:</div>
        <div><%= photo.user.name %></div>
        <div class="photo-details-label">Captured Date:</div>
        <div><%= photo.publishDate.toDateString() %></div>
        <div class="photo-details-label">Geolocation:</div>
        <div><%= photo.geolocation %></div>
        <div class="photo-details-label">Tags:</div>
        <div><%= photo.description %></div>
    </div>
</div>
