<h2><%= user.name %> </h2>
<a href="/users/<%= user.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/users/${user.id}` }) %> 
<% if (photosByUser.length > 0) { %>
    <h2>Photos by User</h2>
    <% photosByUser.forEach(photo => { %>
        <a href="/photos/<%= photo.id %>">
            <img height="150" width="100" src="<%= photo.coverImagePath %>">
        </a>        
    <% }) %> 
<% } %> 